.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 65vh;
  padding: 0 10px 0 10px;
}

.login-meta {
  padding-right: 265px;
}

@media only screen and (max-width: 435px) {
  .login-meta {
    display: flex;
    justify-content: flex-start;
    padding-right: 0px;
    width: 95%;
  }
}

.login-card {
  border-radius: 8px;
  padding: 36px 24px 18px;
  // padding: 48px 40px 36px;
  max-width: 350px;
}

.login-card-bottom {
  display: flex;
  align-items: flex-end;
  padding-top: 25px;
  line-height: 36px;
  font-size: 14px;
}

.fill-space {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.send {
  border-radius: 4px;
}

.google-login {
  margin-top: 40px;
  margin-bottom: 30px;
}

.hrsize {
  width: 35%
}
