<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
  crossorigin="anonymous">

<div class="login">
  <div class="login-meta">
    <h1 class="head-poisition" color="primary">登入

    </h1>
  </div>
  <mat-card id="login-card" class="login-card" (mouseover)="cardHover(1)" (mouseleave)="cardHover(0)">
    <form name='login-form' class="login-form" [formGroup]="loginForm" (ngSubmit)="loginByEmail()">

      <mat-form-field class="full-width">
        <input matInput type="email" placeholder="電子郵件地址" formControlName="email">
        <mat-error *ngIf="email.invalid && email.touched">信箱格式不正確</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="密碼" formControlName="password">
        <mat-error *ngIf="password.invalid && password.touched">
          密碼必須大於六碼
        </mat-error>
      </mat-form-field>
      <div class="login-card-bottom">
        <div></div>
        <span class="fill-space"></span>
        <button mat-raised-button class="send" color="primary">登入</button>
      </div>
    </form>
    <hr>
    <div class="google-login">
      <button mat-raised-button color="warn">
        <i class="fab fa-google" style="margin-right: 15px"></i>Sign in with Google
      </button>
    </div>
  </mat-card>
  <div class="errormessage">
    {{title}}
  </div>

</div>
