.example-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.card-class {
  border-radius: 15px;
  margin-left: 30%;
  margin-right: 35%;
}

.head-poisition {
  margin-left: 30%;
  margin-right: 35%;
  margin-top: 5%;
}

.send {
  margin-left: 65%;
  background-color: #DCDCDC;
  border-radius: 15px
}
