.register-card {
  margin-top: 15%;
  margin-left: 25%;
  margin-right: 25%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 45%;
}

.register-card-button {
  display: flex;
  align-items: flex-end;
}

.send {
  border-radius: 4px;
}
